<form id="sequencer-effects-form" class="dialog-content" onsubmit="event.preventDefault();" autocomplete="off">

    <style>

        .effects-container{
            height: 100%;
            width: 100%;
            display:flex;
        }

        .howto-container{
            max-width: 300px;
        }

        .howto-container li{
            list-style: none;
            margin-bottom: 0.5rem;
        }

        .effects {
            padding: 5px 0;
            max-height: calc(425px - 5rem);
            overflow-y: scroll;
            overflow-x: hidden;
            flex: 1;
            flex-direction: row;
        }

        .effect{
            display:flex;
            flex: 1 0 auto;
        }

        .effect > button{
            flex: 0;
            font-size: 0.7rem;
            height: 1.25rem;
            line-height: normal;
            margin-right: 5px;
        }

        .btn_end{
            min-width: 1.5rem;
        }

        .effect > div{
            flex: 1;
            line-height:1.25rem;
        }

        .hover-highlight:hover > .hover-text{
            color: #000;
            text-shadow: 0 0 10px red;
        }

        .column {
            display: inline-flex;
            flex-direction: column;
        }

        .row {
            display: inline-flex;
            flex-direction: row;
        }

        .flex-grow {
            flex:1;
        }

        .flex-shrink {
            flex: 0;
        }

        .settings{
            display:flex;
            flex-direction: row;
            align-content: flex-end;
            margin-bottom: 0.5rem;
        }

        .input-column, .label-column{
            display: inline-flex;
            flex-direction: column;
        }

        .input-column {
            flex: 0 1 25%;
            align-items: flex-end;
        }

        .input-row, .label-row{
            display: inline-flex;
            flex: 0 1 1.666rem;
        }

        .label-row{
            padding-left: 0.2rem;
            align-items: center;
        }

        .settings input{
            max-width: 40px;
        }

        .user-select option:checked{
            background: #1e90ff;
            color: white;
        }

        .file-settings label, .user-settings label {
            flex: 0 1 15%;
            align-self: center;
        }

        .file-settings input, .user-settings select {
            flex: 1;
        }

        .small-button {
            flex: 0 0 24px;
            line-height: 24px;
            margin: -1px 0 -1px 4px;
            order: 99;
        }

        .activate-layer{
            margin: 0;
        }

        .w-100 {
            width: 100%;
        }

        .mb-1 {
            margin-bottom: 0.25rem;
        }

        .mb-2 {
            margin-bottom: 0.5rem;
        }

        .sheet-tabs{
            min-width: 230px;
        }

    </style>

    <nav class="sheet-tabs tabs mb-1" data-group="effect-manager">
        {{#if canCreateEffects}} <a class="item active effect-player-tab" data-tab="player"><i class="fas fa-play-circle"></i> {{ localize "SEQUENCER.Player.Title" }}</a> {{/if}}
        <a class="item" data-tab="manager"><i class="fas fa-film"></i> {{ localize "SEQUENCER.Manager.Title" }}</a>
        <a class="item" data-tab="howto"><i class="fas fa-chalkboard-teacher"></i> {{ localize "SEQUENCER.HowTo.Title" }}</a>
    </nav>

    <hr>

    <section id="effect-manager-tabs" class="content">

        {{#if canCreateEffects}}
        <div class="tab effect-player-container" data-tab="player" data-group="effect-manager">

            <button type="button" class="activate-layer w-100 mb-2">{{ localize "SEQUENCER.Player.SwitchToLayer" }}</button>

            <div class="file-settings flexcol mb-2">
                <div class="row">
                    <input type="text" class="file-input flex3" name="file" id="file" list="dblist" placeholder='{{ localize "SEQUENCER.Player.PathInput" }}'>
                    <button type="button" class="custom-file-picker small-button"><i class="fas fa-file-import"></i></button>
                </div>
                <datalist id="dblist"></datalist>
            </div>

            <div class="settings flexcol mb-2">
                <div class="input-column">
                    {{#each defaultSettings}}
                    <div class="input-row"><input type="{{this.type}}" class="setting" name="{{@key}}" id="{{@key}}" value="{{this.default}}"></div>
                    {{/each}}
                </div>
                <div class="label-column">
                    {{#each defaultSettings}}
                    <div class="label-row"><label for="{{ @key }}">{{{ this.label }}}</label></div>
                    {{/each}}
                </div>
            </div>

            <div class="user-settings flexcol mb-2">
                <label for="file">Play for users:</label>
                <select class="user-select" id="user-select" multiple>
                    <option value="all" selected>{{ localize "SEQUENCER.Player.AllUsers" }}</option>
                    {{#each users}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                    {{/each}}
                </select>
            </div>

            <div class="flexcol">

                <div class="row w-100">{{ localize "SEQUENCER.Player.Presets" }}</div>

                <div class="row w-100">

                    <select class="preset-select flex-grow">

                        <option value="default">{{ localize "SEQUENCER.Player.PresetsDefault" }}</option>
                        {{#each presets}}
                        <option>{{ @key }}</option>
                        {{/each}}

                    </select>

                    <button type="button" class="save-preset flex-shrink small-button"><i class="fas fa-download"></i></button>
                    <button type="button" class="copy-preset flex-shrink small-button" disabled><i class="fas fa-copy"></i></button>
                    <button type="button" class="delete-preset flex-shrink small-button" disabled><i class="fas fa-times"></i></button>

                </div>

            </div>

        </div>
        {{/if}}

        <div class="tab effects-container" data-tab="manager" data-group="effect-manager">

            <button type="button" class="w-100 end-all-effects mb-2">{{ localize "SEQUENCER.Manager.EndAllEffects" }}</button>

            <h2 class="no-effects">{{ localize "SEQUENCER.Manager.NoEffects" }}</h2>

            <div class="effects" style="display: none">

                <h2>{{ localize "SEQUENCER.Manager.PersistentEffects" }}</h2>
                <div class="persistent-effects"></div>

                <hr>

                <h2>{{ localize "SEQUENCER.Manager.TemporaryEffects" }}</h2>
                <div class="temporary-effects"></div>

            </div>

        </div>

        {{#if canCreateEffects}}
        <div class="tab howto-container" data-tab="howto" data-group="effect-manager">
            <p>{{ localize "SEQUENCER.HowTo.Welcome" }}</p>
            <p>{{{ localize "SEQUENCER.HowTo.Explanation" }}}</p>
            {{#if userIsGM}}
            <p>{{ localize "SEQUENCER.HowTo.PermissionsExplanation"}}</p>
            <button type="button" class="w-100 open-module-settings"><i class="fas fa-plug"></i> {{ localize "SEQUENCER.HowTo.OpenModuleSettings" }}</button>
            {{/if}}
            <p>{{{ localize "SEQUENCER.HowTo.PlayerExplanation" }}}</p>
            <p>{{{ localize "SEQUENCER.HowTo.LayerExplanation" }}}</p>
            <ol>
                <li>
                    <strong>{{ localize "SEQUENCER.HowTo.Click" }}</strong><br>
                    {{ localize "SEQUENCER.HowTo.ClickLabel" }}
                </li>
                <li>
                    <strong>{{ localize "SEQUENCER.HowTo.ClickDrag" }}</strong><br>
                    {{ localize "SEQUENCER.HowTo.ClickDragLabel" }}
                </li>
                <li>
                    <strong>{{ localize "SEQUENCER.HowTo.Shift" }}</strong><br>
                    {{ localize "SEQUENCER.HowTo.ShiftLabel" }}
                </li>
                <li>
                    <strong>{{ localize "SEQUENCER.HowTo.ShiftControl" }}</strong><br>
                    {{ localize "SEQUENCER.HowTo.ShiftControlLabel" }}
                </li>
                <li>
                    <strong>{{ localize "SEQUENCER.HowTo.MoreToCome" }}</strong>
                </li>
            </ol>
        </div>
        {{/if}}

    </section>

</form>