<form id="sequencer-database-form" class="dialog-content" onsubmit="event.preventDefault();">

    <style>

        .effects-container{
            max-height: calc(424px - 5rem);
            display:flex;
        }

        .effects {
            padding: 5px 0;
            max-height: calc(425px - 5rem);
            overflow-y: scroll;
            flex: 1;
            flex-direction: row;
        }

        .effect{
            display:flex;
            flex: 1 0 auto;
        }

        .effect > button{
            flex: 0;
            font-size: 0.7rem;
            height: 1.25rem;
            line-height: normal;
            margin-right: 5px;
        }

        .btn_end{
            min-width: 1.5rem;
        }

        .effect > div{
            flex: 1;
            line-height:1.25rem;
        }

        .hover-highlight:hover > .hover-text{
            color: #000;
            text-shadow: 0 0 10px red;
        }

    </style>

    <div class="effects-container">

        <div class="effects">

            {{#if noEffects}}
                <h2>No effects currently running...</h2>
            {{/if}}

            {{#if persistentEffects}}
                <h2>Persistent effects:</h2>
                {{#each persistentEffects as |effect key|}}
                    <div class="effect hover-highlight" data-id="{{ key }}">
                        <button type="button" class="btn_end"><i class="fas fa-times"></i></button>
                        <div class="effect-text hover-text">
                            {{ effect }}
                        </div>
                    </div>
                {{/each}}
            {{/if}}


            {{#if hasBothEffects}}
                <hr>
            {{/if}}

            {{#if temporaryEffects}}
                <h2>Temporary effects:</h2>
                {{#each temporaryEffects as |effect key|}}
                    <div class="effect hover-highlight" data-id="{{ key }}">
                        <button type="button" class="btn_end"><i class="fas fa-times"></i></button>
                        <div class="effect-text hover-text">
                            {{ effect }}
                        </div>
                    </div>
                {{/each}}
            {{/if}}

        </div>

    </div>

</form>